<h2>Collection Form</h2>
<table>
	<tr>
		<th>Collection</th>
		<td><%= f.text_field :collection, :class => 'text_field' %></td>
	</tr>	
	<tr>
		<th>Video URL</th>
		<td><%= f.text_field :video_url, :class => 'text_field' %></td>
	</tr>		
</table>	
