<table>
	<tr>
		<th>State Code:</th>
		<td><%= f.text_field :state_code, :class => "text_field" %></td>
	</tr>
	<tr>
		<th>State:</th>
		<td><%= f.text_field :state, :class => "text_field" %></td>
	</tr>
	<tr>
		<th></th>
		<td><%= submit_tag %></td>
	</tr>
</table>	