<table>
	<tr>
		<th>Size Code :</th>
		<th><%= f.text_field :size_code, :class => 'text_field' %></th>
	</tr>	
	<tr>
		<th>Size Description :</th>
		<th><%= f.text_field :size_description, :class => 'text_field' %></th>
	</tr>	
</table>	