<table>
	<tr>
		<th>Size Code</th>
		<th>Size Description</th>
	</tr>	
	<tr>
		<td><%= @size.size_code %></td>
		<td><%= @size.size_description %></td>
	</tr>	
</table>
	
<%= link_to  'back', colors_path %>