<style type="text/css">
	#contact-us {
		background-color:#ffffff;
		height:400px;
		margin:40px 0;
		padding-top:100px;
		padding-left:40px;
		color:#777777;
		font-size:11px;
	}
	
	#contact-us .contact {
		float:left;
		width:200px;
		margin-left:80px;
	}
	
	#contact-us .contact .contact-location {
		color: #000000;
	}

	#contact-us .contact h1 {
		color:#777777;
		margin-top: 20px;
	}
</style>

<div id="contact-us">
	<div class="contact">
		<h1 class="contact-location">UNITED STATES</h1>
		<h1>SOUTHCOAST PLAZA</h1>
		<p>3333 Bristol Street</p>
		<p>Costa Mesa, CA 92626</p>
		<p>714-438-0056</p>
		<h1>THE FORUM SHOPS</h1>
		<p>3500 S. Las Vegas Blvd</p>
		<p>Las Vegas, NV 89109</p>
		<p>702-733-6071</p>
	</div>	
	<div class="contact">
		<h1 class="contact-location">ONLINE</h1>
		<h1><a href="http://shop.tadashishoji.com/">shop.tadashishoj.com</a></h1>
		<h1></h1>
		<p>3016 E 44th St</p>
		<p>Los Angeles, CA 90058</p>
		<p>1-855-827-4654</p>
		<p><a href="mailto:shop@tadashishoj.com">shop@tadashishoj.com</a></p>
	</div>		
	<div class="contact">
		<h1 class="contact-location">CHINA</h1>
		<h1>PARKVIEW GREEN</h1>
		<p>No.9 Dongdaqiao Road</p>
		<p>Chao Yang District,</p> 
		<p>Beijing 10020, China</p>
		<h1>SHANGHAI</h1> 
		<p>No.2 Lane 1343 Tong Pu Road</p>
		<p>Pu Tuo District</p>
		<p>Shanghai 200333</p>
		<p>86 21 5269 7338</p>
	</div>		
</div>	