<style type="text/css">
	#contact-us {
		background: url("/assets/contactBG.png") no-repeat transparent;		
		height:400px;
		margin:40px 0;
		padding-top:100px;
		padding-left:40px;
		color:#777777;
		font-size:11px;
	}
	
	#contact-us .contact {
		float:left;
		width:200px;
		margin-left:80px;
	}
	
	#contact-us .contact .contact-location {
		color: #000000;
	}

	#contact-us .contact h1 {
		color:#777777;
		margin-top: 20px;
	}
</style>

<div id="contact-us">
	<div class="contact">
		<h1 class="contact-location">CUSTOMER SERVICE</h1>
		<h1>Tadashi Shoji customer care is</h1>
		<p>available Monday through Friday, 9 AM </p>
		<p>to 4:30 PM PST, excluding holidays.</p>
		<h1>Phone: 1-855-827-4654</h1>
		<p>Email: <a href="mailto:shop@tadashishoji.com">shop@tadashishoji.com</a></p>
		<h1>For Press Inquiries please email </h1>
		<p><a href="mailto:press@tadashishoji.com">press@tadashishoji.com</a></p>
	</div>		
	<div class="contact">
		<h1 class="contact-location">UNITED STATES</h1>
		<h1>SOUTH COAST PLAZA</h1>
		<p>3333 Bristol Street</p>
		<p>Costa Mesa, CA 92626</p>
		<p>714-438-0056</p>
		<h1>THE FORUM SHOPS</h1>
		<p>3500 S. Las Vegas Blvd</p>
		<p>Las Vegas, NV 89109</p>
		<p>702-733-6071</p>
		<h1><a href="http://shop.tadashishoji.com/">shop.tadashishoji.com</a></h1>
	</div>	
	<div class="contact">
		<h1 class="contact-location">CHINA</h1>
		<h1>BEIJING | Parkview Green</h1>
		<p>No.9 Dongdaqiao Road</p>
		<p>Chao Yang District</p> 
		<p>Beijing 10020</p>
		<h1>SHANGHAI</h1> 
		<p>No.2 Lane 1343 Tong Pu Road</p>
		<p>Pu Tuo District</p>
		<p>Shanghai 200333</p>
		<p>86 21 5269 7338</p>
	</div>		
</div>	