	<div id="homepage">
		<div id="home-banner-2">
			<p>This year Tadashi Shoji celebrates it's 30th anniversary.<br> To mark this celebration in time, the house is releasing a special<br>capsule collection of six iconic dresses from the archives.</p>
			<%= link_to "View the Look Book", "http://shop.tadashishoji.com", :class => "viewlink", :target => "_blank" %>
			<%= link_to "Watch the Video", "http://thechrisellefactor.com/2013/03/11691/#more-11691", :class => "watchlink", :target => "_blank" %>
		</div>
		<div id="home-banner">
			<p>Each day we're unveiling Tadashi Shoji anecdotes told by<br>those who have shown continuous love and support<br>for Tadashi Shoji through the years, and decades!</p>
			<%= link_to "Read Their Stories", "http://30for30.tadashishoji.com/", :class => "readlink", :target => "_blank" %>
			<%= link_to "Share Your Story", "http://30for30.tadashishoji.com/pages/submit", :class => "sharelink", :target => "_blank" %>
		</div>
	</div>