<form name="ccoptin" action="http://visitor.r20.constantcontact.com/d.jsp" target="_blank" method="post" class="clearfix" style="margin-bottom:0;">
  
    <div align="center">
	    <input type="text" name="ea" size="20" value="sign up for news &amp; updates" onclick="this.value='';" style="font-family:Verdana,Geneva,Arial,Helvetica,sans-serif; font-size:11px; border:0px solid #ffffff;">
	    <input type="submit" name="go" value="add me" class="submit"  style="font-family:Verdana,Arial,Helvetica,sans-serif; font-size:11px;">
	    <input type="hidden" name="llr" value="6mpiveeab">
	    <input type="hidden" name="m" value="1103621683206">
	    <input type="hidden" name="p" value="oi">
  </div>
</form>