<ul class="styles">
  <% @styles.each_with_index   do |style, index = 1| %>
     <% trueIndex = index + 1 %>                       
	
     <% if  trueIndex == 1 %>
        <ul>
        <li>
			<%= link_to image_tag(style.picture.url(:small)), style.picture.url(:base),
			 :class => "MagicZoomPlus", :title => style.name, :rel => "zoom-position:inner"  %>
        </li>
    <% elsif trueIndex == @styles.size %>
        <li>
			<%= link_to image_tag(style.picture.url(:small)), style.picture.url(:base),
			 :class => "MagicZoomPlus", :title => style.name, :rel => "zoom-position:inner"  %>
	        </li>
        </li>
        </ul>
     <% elsif (trueIndex % 5) == 0 %>
        <li>
			<%= link_to image_tag(style.picture.url(:small)), style.picture.url(:base),
			 :class => "MagicZoomPlus", :title => style.name, :rel => "zoom-position:inner"  %>
        </li>
        </ul>
        <ul>
     <% else %>
        <li>
			<%= link_to image_tag(style.picture.url(:small)), style.picture.url(:base),
			 :class => "MagicZoomPlus", :title => style.name, :rel => "zoom-position:inner"  %>
        </li>
     <% end %>
  <% end %>
</ul>



