<div id="no-search-result">
	<h1 class="no-results">Sorry, your search for '<span class="search-term"><%= @search %></span>' returned no results</h1>
	<%= link_to "<< Back to Previous Page", @referer, :class => "search-back-to-link" %>
</div>