



<div id="video">
	Loading the video....
</div>	


<script type="text/javascript">
	jwplayer("video").setup({
		file:"https://s3.amazonaws.com/tadashi_shoji_website/videos/fashion_show/SS2013.flv"
	});
</script>