<style type="text/css">
	#video {
		margin:10px 0;
	}
</style>


<!--- catalog navigation -->
<%= render :partial => 'catalog-navigation' %>


<div id="video">
	Loading the video....
</div>	

<!--- jwplayer -->
<%= javascript_include_tag 'jwplayer/jwplayer' %>
<%= javascript_include_tag 'jwplayer/jwplayer.html5' %>


<script type='text/javascript'>
  jwplayer('video').setup({
	'flashplayer': '/assets/jwplayer/jwplayer.flash.swf',
    'file': '<%= @collection.video_url %>',
    'width': '960',
    'height': '540',
	'modes': [
	        {type: 'html5'},
	        {type: 'flash', src: 'player.swf'},
	        {type: 'download'}
	    ]
	
  });
</script>