<style type="text/css">
	#video {
		margin:20px 0;
	}
</style>



<div id="video">
	Loading the video....
</div>	
<script type='text/javascript'>
  jwplayer('video').setup({
    file: "<%= @collection.video_url %>",
    width: "960",
    height: "540",
  });
</script>