<table>
	<tr>
		<th>Color Code :</th>
		<th><%= f.text_field :color_code, :class => 'text_field' %></th>
	</tr>	
	<tr>
		<th>Color Name :</th>
		<th><%= f.text_field :color_name, :class => 'text_field' %></th>
	</tr>	
</table>