<table>
	<tr>
		<th>Country:</th>
		<td><%= f.text_field :country_name, :class => "text_field"%></td>
	</tr>	
	<tr>
		<th>International:</th>
		<td><%= f.check_box :international, :class => "check_box" %></td>
	</tr>	
	<tr>
		<th></th>
		<td><%= submit_tag %></td>
	</tr>	
</table>	