#debug {
	margin-top: 20px;
	clear: both;
}


#product-images {
	
	text-align:center;
	
	.images {
		float:left;
	}
}

.signout_link {

	font-size: 16px;
	margin: 20px;
	display: block;
}

#admin_links {
	margin-left: 20px;
} 