/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* blueprint resets */


a
{
	text-decoration:none;
}


/* end blueprint resets */

.logo 
{
	margin: 15px;
}


header {
 	height:81px;	
	background: url("/assets/logoBar.png") no-repeat transparent;
	.signout_link { 
		position:fixed;
		right: 5px;
		top: 5px;
	} 
}

nav {
	height:19px;	
	background: url("/assets/menuBar.png") no-repeat transparent;
	a {
		color: #000000;
	}
}

.container {
	width:960px;
}



body {
	font: 14px/16px "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

footer 
{
	background-color: #000000;
	width:100%;
	.footer-content {
		float:right;
	}
	ul#footer-links
	{
		list-style-type: none;
		float: right;
		margin-left: 10px;
		 li
		{
			float:left;
			padding: 10px 10px 10px 0;
			a
			{
				color: #777777;
				font-size: 12px;
			}
			a:hover 
			{
				color:#ffffff;
			}
		}
	}
	ul#social-links
	{
		list-style-type: none;
		float: right;
		margin-top: 3px;
		 li
		{
			float:left;
		}
	}	
}



