// Place all the styles related to the catalog controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// navigation

#catalog-nav {
	background: url("/assets/viewOptions-bar.png") no-repeat transparent;
	width:960px;
	height:43px;
	margin-top: 40px;
	
	.collection-name {
		float:left;
		margin-top: 15px;
		margin-left: 7px;
		span {
			opacity: 1;
			font-style:italic;
			font-size: 30px;
			font-family: 'Didot';
			font-style: italic;
		}
	}
	
	#video-image {
		float: right;
		margin-top: 20px;
		margin-right: 10px;
		a {
			margin: 0 10px;
			color: #777777;
		}
		a:hover {
			color: #000000;
		}
		.vbar {
			border-right: 1px solid #777777;
		}
	}
	
	#catalog-controls {
		float:right;
		margin-top: 20px;
		a {
			text-indent: -9999px;
			display:inline-block;
			width:23px;
			height:15px;
			margin:0 5px;
		}
		.slide-active {
			background: url("/assets/slideShow-active.gif") no-repeat transparent;
		}
		.slide-inactive {
			background: url("/assets/slideShow-inactive.gif") no-repeat transparent;
		}
		.slide-inactive:hover {
			background: url("/assets/slideShow-active.gif") no-repeat transparent;	
		}
		.grid-active {
			background: url("/assets/grid-active.gif") no-repeat transparent;
		}
		.grid-inactive {
			background: url("/assets/grid-inactive.gif") no-repeat transparent;
		}
		.grid-inactive:hover {
			background: url("/assets/grid-active.gif") no-repeat transparent;		
		}
	}
	
}
	
	
	
// slide

#bg { 
	position:relative;
	z-index:1;
	overflow:hidden;
	width:100%;
	height:100%;
	margin-top: 10px;
	
	#div-center {
		margin: 0 15px;
	}

	.slide-base-image {
		float:left;
		width:310px;
		height:483px;
	
		img { 
		 	// visibility:hidden;
			float:left; 
			display:block; 
			width:310px;
			height:483px;
		}
		
		#previmg { }
		#nextimg { }
		#bgimg { }
	}
	
	
	
	
}

 
#preloader {position:relative; z-index:3; width:32px; padding:20px; top:80px; margin:auto; background:#000;}


#thumbnails_wrapper{z-index:2; position:relative; bottom:0; width:100%; background:url(empty.gif); /* stupid ie needs a background value to understand hover area */ height:63px;	}
	#outer_container{position:relative; padding:0; width:100%; margin:10px auto;}
		#outer_container .thumbScroller{position:relative; overflow:hidden; background:url(fs_img_g_bg.png);}
		#outer_container .thumbScroller, #outer_container .thumbScroller .container, #outer_container .thumbScroller .content{ }
		#outer_container .thumbScroller .container{position:relative; left:0;}
		#outer_container .thumbScroller .content{float:left;}
		#outer_container .thumbScroller .content div{height:100%;}
		#outer_container .thumbScroller img{ padding:2px;}
		#outer_container .thumbScroller .thumb { width: 42px; height:63px; opacity:0;}
		#outer_container .thumbScroller .content div a{display:block;}
		
		.nextImageBtn, .prevImageBtn{display:block; position:absolute; width:50px; height:50px; top:170px; margin:-25px 10px 0 10px; z-index:3; filter:alpha(opacity=40); -moz-opacity:0.4; -khtml-opacity:0.4; opacity:0.4;}
		.nextImageBtn:hover,.prevImageBtn:hover{filter:alpha(opacity=80); -moz-opacity:0.8; -khtml-opacity:0.8; opacity:0.8;}
		.nextImageBtn{right:0; background:url(/assets/nextImgBtn.png) center center no-repeat;}
		.prevImageBtn{background: url(/assets/prevImgBtn.png) center center no-repeat;}
		
		
		
// grid		
	
#customdialog {
	overflow:hidden;
	padding:2px;
}

#dialog-style, #dialog-description {
	display:block;
	font-size:14px;
	margin-top:3px;
}
	
.styles {
    width: 960px;

	ul {
		margin: 6px 0;
		
		li {
		    float: left;
		    width: 192px;
			position: relative;
		
			img {
				width: 192px;
			}
		
			span.style-name {
				position:absolute;
				right:20px;
				bottom:10px;
				z-index:99;
				visibility: hidden;
				color: #555555;
			}
		
		}	
	}
}


// layout overrides
#main {
	padding-bottom: 0px;
}
#footer {
	margin-top: 10px;
	overflow: hidden;
	position: relative;
	bottom: 0;
}


// grid styles



