<footer id="footer">
	<div class="footer-content">
		<%= image_tag "twitter.png"%>
		<%= image_tag "facebook.png"%>
		<%= image_tag "youtube.png"%>
		<ul id="footer-links">
			<li><a href="#">WHOLESALE</a></li>
		</ul>	
	</div>	
</footer>	
