<nav>
	<ul class="sf-menu">
		<li><a href="#">HOME</a></li>
		<li><a href="#">SHOP</a></li>
		<li><a href="#">COLLECTION</a></li>
		<li><a href="#">WORLD OF TADASHI</a></li>
		<li><a href="#">STORE LOCATOR</a></li>
	</ul>
</nav>